@using StudyCourseEditor.Controllers
@model StudyCourseEditor.TestClasses.GeneratedQuestion

@{
    ViewBag.Title = "Отвечай немедля на вопрос!";
    string questionHash = ViewBag.QuestionToken;
    var type = Model.QuestionType;
}

<div>@Html.Raw(Model.Body)</div>

@using (Html.BeginForm("Process", "Test"))
{
    @Html.Hidden("QuestionToken", questionHash)

    int i = 0;
    
    if (type != 3)
    {
        foreach (var answer in Model.Answers)
        {
            if (type == 1)
            {
                @Html.RadioButton("Answers", i, new { title = answer.Body }) @:@answer.Body
                <br/>
            }
            if (type == 2)
            {
                <input type="checkbox" name="Answers" value="@i" /> @:@answer.Body
                <br/>
            }


            i++;
        }
    }
    else
    {
       @Html.TextBox("Answers", string.Empty) 
    }
    
    <p>
        <input type="submit" value="Готово" />
    </p>
}

@Html.ActionLink("Покинуть тест", "End", "Test")

<br/>
@if (AccountController.IsUserAdmin())
{
    <h3>Отладочная информация (отображается только для администраторов)</h3>
    <div>Сложность (вопроса / теоретическая): @ViewBag.TestData.CurrentQuestionDifficulty / @ViewBag.TestData.TrueDifficultyLevel</div>
    <div>Текущая оценка знаний: @ViewBag.TestData.CalculateMeasure()</div>
    <div>Текущая ошибка измерения: @ViewBag.TestData.CalculateError()</div>
    <div>Ответов дано: @ViewBag.TestData.ItemsTaken</div>
    <div>Тип вопроса: @Model.QuestionType</div>
}

