@model StudyCourseEditor.Models.Subject

@{
    ViewBag.Title = "Редактировать тему";
    int i = 0;
}

<h2>@ViewBag.Title</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Body)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>

        <div class="editor-field">
            @Html.Hidden("CourseID", Model.CourseID)
        </div>

        <p>
            <input type="submit" value="Сохранить" />
        </p>
    </fieldset>
}

<div>
     @Html.ActionLink("К списку тем", "Edit", "Course", new { id = Model.CourseID }, null)
</div>


<div>
    <h3>Список вопросов (@Html.ActionLink("Добавить новый", "Create", "Question", new { subjectId = Model.ID }, null))</h3> 

    <div>
        
        @foreach (var question in Model.Questions)
        {
            
            @Html.ActionLink("Вопрос №" + (++i), "Edit", "Question", new { id = question.ID }, null) @:||
            @Html.ActionLink("Удалить", "Delete", "Question", new { id = question.ID }, null)
        }
    </div>
</div>