@using System.Collections
@using StudyCourseEditor.Models
@model StudyCourseEditor.Models.Definition

@{
    ViewBag.Title = "Редактировать определение";
    IEnumerable <Tag> Tags = ViewBag.Tags;
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/noty/connectAll.js")" type="text/javascript" ></script>
<script src="@Url.Content("~/Scripts/pages/examples.js")" type="text/javascript" ></script>
<script src="@Url.Content("~/Scripts/pages/tags.js")" type="text/javascript" ></script>

@using (Ajax.BeginForm(new AjaxOptions
                                             {
                                                 OnFailure = "DefinitionEditFailure",
                                                 OnSuccess = "DefinitionEditSuccess",
                                                 HttpMethod = "GET"
                                             })) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Definition</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.DisplayName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DisplayName)
            @Html.ValidationMessageFor(model => model.DisplayName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Body)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Назад к списку", "Index")
</div>

<div id="examples-antiexamples">
    <div id="examples" class="examples">
        <div id="existing">
            <h3>Примеры</h3>
            @foreach (var example in Model.Examples.Where(x => !x.IsAntiExample))
            {
                <div id="example_@(example.ID)">
                    @using (Ajax.BeginForm("Action", "Example", new {id = example.ID}, new AjaxOptions 
                                                                                         {
                                                                                             HttpMethod = "POST",
                                                                                             OnSuccess = "ExampleProcessSuccess",
                                                                                             OnFailure = "ExampleProcessFailed",

                                                                                         }))
                    {
                        @Html.TextBox("Example", example.Value)
                        <input type="submit" name="Update" value="Сохранить"/>
                        <input type="submit" name="Delete" value="Удалить"/>
                    }
                </div>

            }
        </div>
        <div id="new">
            @using (Ajax.BeginForm("Action", "Example", new {id = 0, definitionId = Model.ID, isAntiExample = false}, new AjaxOptions 
                                                                                                         {
                                                                                                             HttpMethod = "POST",
                                                                                                             OnSuccess = "ExampleProcessSuccess",
                                                                                                             OnFailure = "ExampleProcessFailed",

                                                                                                         }))
            {
                @Html.TextBox("Example", "")
                <input type="submit" name="Create" value="Добавить"/>
            }
        </div>
    </div>
    
    <div id="antiexamples" class="examples">
        <div id="existing">
            <h3>Антипримеры</h3>
            @foreach (var example in Model.Examples.Where(x => x.IsAntiExample))
            {
                <div id="example_@(example.ID)">
                    @using (Ajax.BeginForm("Action", "Example", new {id = example.ID}, new AjaxOptions 
                                                                                         {
                                                                                             HttpMethod = "POST",
                                                                                             OnSuccess = "ExampleProcessSuccess",
                                                                                             OnFailure = "ExampleProcessFailed",

                                                                                         }))
                    {
                        @Html.TextBox("Example", example.Value)
                        <input type="submit" name="Update" value="Сохранить"/>
                        <input type="submit" name="Delete" value="Удалить"/>
                    }
                </div>

            }
        </div>
        <div id="new">
            @using (Ajax.BeginForm("Action", "Example", new {id = 0, definitionId = Model.ID, isAntiExample = true}, new AjaxOptions 
                                                                                                                               {
                                                                                                                                   HttpMethod = "POST",
                                                                                                                                   OnSuccess = "ExampleProcessSuccess",
                                                                                                                                   OnFailure = "ExampleProcessFailed",

                                                                                                                               }))
            {
                @Html.TextBox("Example", "")
                <input type="submit" name="Create" value="Добавить"/>
            }
        </div>
    </div>
    
    <div id="tags">
        <h3>Тэги</h3>
        <div id="existing">
            @foreach (var tag in Tags)
            {
                <div id="tag_@(tag.ID)">
                    @using (Ajax.BeginForm("Action", "Tag", new {tagId = tag.ID, definitionId = Model.ID}, new AjaxOptions 
                                                                                                             {
                                                                                                                 HttpMethod = "POST",
                                                                                                                 OnSuccess = "TagProcessSuccess",
                                                                                                                 OnFailure = "TagProcessFailed",

                                                                                                             }))
                    {
                        @tag.Name
                        <input type="submit" name="RemoveFromDefinition" value="Удалить"/>
                    }
                </div>

            }
        </div>
        <div id="new">
            @using (Ajax.BeginForm("Action", "Tag", new {definitionId = Model.ID}, new AjaxOptions 
                                                                                             {
                                                                                                 HttpMethod = "POST",
                                                                                                 OnSuccess = "TagProcessSuccess",
                                                                                                 OnFailure = "TagProcessFailed",

                                                                                             }))
            {
                @Html.TextBox("tagName", "")
                <input type="submit" name="AddToDefinition" value="Добавить"/>
            }
        </div>
    </div>
    <div style="clear: both"></div>
</div>





<div id="example_template" style="display: none">
    @using (Ajax.BeginForm("Action", "Example", new {id = "id_placeholder"}, new AjaxOptions 
                                                                                               {
                                                                                                   HttpMethod = "POST",
                                                                                                   OnSuccess = "ExampleProcessSuccess",
                                                                                                   OnFailure = "ExampleProcessFailed",

                                                                                               }))
    {
        @Html.TextBox("Example", "value_placeholder")
        <input type="submit" name="Update" value="Сохранить"/>
        <input type="submit" name="Delete" value="Удалить"/>
    }
</div>

<div id="tag_template" style="display: none">
    @using (Ajax.BeginForm("Action", "Tag", new {tagId = "id_placeholder", definitionId = Model.ID}, new AjaxOptions 
                                                                            {
                                                                                HttpMethod = "POST",
                                                                                OnSuccess = "TagProcessSuccess",
                                                                                OnFailure = "TagProcessFailed",

                                                                            }))
    {
        @:value_placeholder
        <input type="submit" name="RemoveFromDefinition" value="Удалить"/>
    }
</div>