@model IEnumerable<StudyCourseEditor.Models.Course>

@{
    ViewBag.Title = "Список курсов";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Создать новый курс", "Create")
</p>
<table>
    <tr>
        <th>
            Название
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Details", new { id = item.ID })
            
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
